@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$grey: #282828;
$red: #f9423a;
$white: #fff;
$offwhite: #fbf9f6;


@mixin curlyText {
    font-family: 'Lobster', cursive;
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: $grey;
}

body {
    background-color: $offwhite;
}

header {
    display: flex;
    margin: auto;
    max-height: 100vh;
    max-width: 100vw;
    color: $grey;

    #wrap {
        margin-top: 15vh;
        margin-bottom: 15vh;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "job job name"
            "list list name"
            "nerd nerd name";
        grid-gap: 1rem;
        transition: 1.8s;
    }

    h1:nth-child(1) {
        grid-area: name;
        // font-size: 3.9em;
        // grid-column: 5;
        // grid-row: 1/5;
        color: $offwhite;
        background-color: $red;
        // margin-right: -1px;
        // margin-bottom: 138px;
        // justify-self: right;
        writing-mode: vertical-lr
    }

    h1:nth-child(2) {
        grid-area: job;
        // grid-row: 1/5;
        // grid-column: 1/5;
        font-size: 2.5rem;
        margin-left: -1px;
        color: $red;
        justify-self: left;
        margin-top: -3rem;

    }

    h3 {
        grid-area: nerd;
        // grid-row: -1;
        // grid-column: 1/4;
        font-size: 6.7rem;
        // text-align: right;
        // margin-bottom: -20px;
        font-stretch: ultra-expanded;
        @include curlyText;

    }

    #btn-container {
        grid-area: list;
        text-align: right;
        display: flex;
        flex-direction: column;
        // grid-column: 2/5;
        // // transform: rotate(35deg);
        // grid-row: 2/3;

        button {
            padding: 0.5rem;
            margin: 1px;
            background-color: $offwhite;
            border: 5px solid rgba(12, 12, 10, 0.8);
            font-weight: 700;
            font-size: 2rem;
        }

        button:hover {
            background-color: $red;
            transition: 0.7s;
        }

        a {
            text-align: left;
            margin-left: 0.5em;
            text-decoration: none;
        }
    }

}

#projects-container {
    max-width: 490px;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;

    #projects {
        display: flex;
        flex-direction: column;

        .project-item {
            margin-top: 3px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.2fr 1fr;
            grid-template-areas:
                "image heading"
                "image text"
                "image text";
        }


        #image {
            grid-area: image;

            a>img {
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
}

#contact {
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contact talks";
    margin-left: -1rem;
    padding-left: 0;


    address {
        grid-area: contact;


        h4 {
            font-style: normal;
            text-align: center;
            padding-left: 2rem;
        }

        ul {
            list-style: symbols(cyclic "‡");
            line-height: 1.5em;

        }

        a:hover {
            color: $red;
            transition: 0.1s;
        }
    }


    #talks {

        li:last-child {
            border-bottom: 5px solid rgba(12, 12, 10, 0.8);
        }

        ol {
            font-weight: 700;
        }



        li {
            margin-right: 2rem;
            list-style: none;
            padding: 1rem;
            grid-area: talks;
            border-top: 5px solid rgba(12, 12, 10, 0.8);
            border-left: 5px solid rgba(12, 12, 10, 0.8);
            border-right: 5px solid rgba(12, 12, 10, 0.8);
            font-size: 95%;
            text-align: left;
            padding: 2px 0;
            align-self: end;


            p,
            a {
                display: inline-block;
            }
        }

        li:hover {
            background-color: $red;
            transition: 1.3s;
        }

    }
}


@media (min-width: 768px) {
    #boarder-wrap {

        transform: rotate(-45deg)
    }

    #header-wrap {
        margin: auto;
        transition: 1.8s;
    }


    #projects {
        margin: 2rem;
    }

    .button {
        min-width: 120px;
        padding: 0 25px;
    }
}

@media (min-width: 600px) {

    #projects-container {
        max-width: 600px;
    }
}

@media (min-width: 760px) {

    #projects-container {
        max-width: 650px;
    }
}

@media (min-width: 860px) {

    #projects-container {
        max-width: 750px;
    }
}

@media (min-width: 930px) {

    #projects-container {
        max-width: 850px;
    }
}

@media (min-width: 1000px) {

    #projects-container {
        max-width: 980px;
    }
}

@media (min-width: 1200px) {

    #projects-container {
        max-width: 1050px;
    }

}

@media (min-width: 1400px) {

    #projects-container {
        max-width: 1050px;
    }
}

//TODO add a nav bar that uses icons like linkedin
//TODO add a kistch toggke that makes it go from proffessional to bubblegum aesthetics 