@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$grey: #282828;
$red: #f9423a;
$white: #fff;
$offwhite: #fbf9f6;


@mixin curlyText {
    font-family: 'Lobster', cursive;
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: $grey;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    margin: auto;
    max-height: 100vh;
    max-width: 100vw;
    color: $grey;

    #header-wrap {
        border: 5px solid $grey;
        display: grid;
        margin: 0px auto;
        margin-top: 15vh;
        margin-bottom: 15vh;
        grid-template-columns: 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px;
        grid-gap: 1rem;
        transition: 1.8s;
    }

    h1:nth-child(1) {
        font-size: 3.9em;
        grid-column: 5;
        grid-row: 1/6;
        color: $white;
        background-color: $red;
        margin-right: -1px;
        margin-bottom: 40px;
        justify-self: right;
        writing-mode: sideways-rl;

    }

    h1:nth-child(2) {
        grid-row: 1/5;
        grid-column: 1/5;
        font-size: 2.5rem;
        margin-left: -1px;
        color: $red;
        justify-self: left;
        margin-top: -3rem;

    }

    h3 {
        grid-row: 4;
        grid-column: 1/6;
        font-size: 6.7rem;
        text-align: right;
        margin-top: 10rem;
        font-stretch: ultra-expanded;
        @include curlyText;

    }

    #btn-container {
        text-align: right;
        display: flex;
        flex-direction: column;
        grid-column: 2/5;
        transform: rotate(35deg);
        grid-row: 2/3;

        button {
            padding: 0.5rem;
            margin: 1px;
            background-color: $white;
            border: 5px solid rgba(12, 12, 10, 0.8);
            font-weight: 700;
            font-size: 2rem;
        }

        button:hover {
            background-color: $red;
            transition: 0.7s;
        }

        a {
            text-align: left;
            margin-left: 0.5em;
            text-decoration: none;
        }
    }

}

#projects-container {
    max-width: 490px;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;

    #projects {
        display: flex;
        flex-direction: column;

        .project-item {
            background-color: $offwhite;
            margin-top: 3px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.2fr 1fr;
            grid-template-areas:
                "image heading"
                "image text"
                "image text";
        }


        #image {
            grid-area: image;

            a>img {
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
}

#contact {
    display: grid;
    padding: 1rem;
    color: $grey;
}

@media (min-width: 768px) {
    #header-wrap {
        margin: auto;
        transform: rotate(-45deg);
        transition: 1.8s;
    }


    #projects {
        margin: 2rem;
    }

    .button {
        min-width: 120px;
        padding: 0 25px;
    }
}

@media (min-width: 600px) {

    #projects-container {
        max-width: 600px;
    }
}

@media (min-width: 760px) {

    #projects-container {
        max-width: 650px;
    }
}

@media (min-width: 860px) {

    #projects-container {
        max-width: 750px;
    }
}

@media (min-width: 930px) {

    #projects-container {
        max-width: 850px;
    }
}

@media (min-width: 1000px) {

    #projects-container {
        max-width: 980px;
    }
}

@media (min-width: 1200px) {

    #projects-container {
        max-width: 1050px;
    }

}

@media (min-width: 1400px) {

    #projects-container {
        max-width: 1050px;
    }
}

//TODO add a nav bar that uses icons like linkedin
//TODO add a kistch toggke that makes it go from proffessional to bubblegum aesthetics 