@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$grey: #282828;
$red: #f9423a;
$white: #fff;
$offwhite: #fbf9f6;


* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: $grey;
}

div {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-top: 25vh;
}

img {
    max-height: 40vh;
}

a:hover {
    color: $red;
}