@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #282828;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fbf9f6;
}

header {
  display: flex;
  margin: auto;
  max-height: 100vh;
  max-width: 100vw;
  color: #282828;
}
header #header-wrap {
  border: 5px solid #282828;
  display: grid;
  margin: 0px auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-gap: 1rem;
  transition: 1.8s;
}
header h1:nth-child(1) {
  font-size: 3.9em;
  grid-column: 5;
  grid-row: 1/6;
  color: #fbf9f6;
  background-color: #f9423a;
  margin-right: -1px;
  margin-bottom: 40px;
  justify-self: right;
  -ms-writing-mode: sideways-rl;
      writing-mode: sideways-rl;
}
header h1:nth-child(2) {
  grid-row: 1/5;
  grid-column: 1/5;
  font-size: 2.5rem;
  margin-left: -1px;
  color: #f9423a;
  justify-self: left;
  margin-top: -3rem;
}
header h3 {
  grid-row: 4;
  grid-column: 1/6;
  font-size: 6.7rem;
  text-align: right;
  margin-top: 10rem;
  font-stretch: ultra-expanded;
  font-family: "Lobster", cursive;
}
header #btn-container {
  text-align: right;
  display: flex;
  flex-direction: column;
  grid-column: 2/5;
  transform: rotate(35deg);
  grid-row: 2/3;
}
header #btn-container button {
  padding: 0.5rem;
  margin: 1px;
  background-color: #fbf9f6;
  border: 5px solid rgba(12, 12, 10, 0.8);
  font-weight: 700;
  font-size: 2rem;
}
header #btn-container button:hover {
  background-color: #f9423a;
  transition: 0.7s;
}
header #btn-container a {
  text-align: left;
  margin-left: 0.5em;
  text-decoration: none;
}

#projects-container {
  max-width: 490px;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
}
#projects-container #projects {
  display: flex;
  flex-direction: column;
}
#projects-container #projects .project-item {
  margin-top: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas: "image heading" "image text" "image text";
}
#projects-container #projects #image {
  grid-area: image;
}
#projects-container #projects #image a > img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "contact talks";
  margin-left: -1rem;
  padding-left: 0;
}
#contact address {
  grid-area: contact;
}
#contact address h4 {
  font-style: normal;
  text-align: center;
  padding-left: 2rem;
}
#contact address ul {
  list-style: symbols(cyclic "‡");
  line-height: 1.5em;
}
#contact address ul a:hover {
  color: #f9423a;
}
#contact #talks li:last-child {
  border-bottom: 5px solid rgba(12, 12, 10, 0.8);
}
#contact #talks ol {
  font-weight: 700;
}
#contact #talks li {
  margin-right: 2rem;
  list-style: none;
  padding: 1rem;
  grid-area: talks;
  border-top: 5px solid rgba(12, 12, 10, 0.8);
  border-left: 5px solid rgba(12, 12, 10, 0.8);
  border-right: 5px solid rgba(12, 12, 10, 0.8);
  font-size: 95%;
  text-align: left;
  padding: 2px 0;
  align-self: end;
}
#contact #talks li p,
#contact #talks li a {
  display: inline-block;
}

@media (min-width: 768px) {
  #header-wrap {
    margin: auto;
    transform: rotate(-45deg);
    transition: 1.8s;
  }
  #projects {
    margin: 2rem;
  }
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}
@media (min-width: 600px) {
  #projects-container {
    max-width: 600px;
  }
}
@media (min-width: 760px) {
  #projects-container {
    max-width: 650px;
  }
}
@media (min-width: 860px) {
  #projects-container {
    max-width: 750px;
  }
}
@media (min-width: 930px) {
  #projects-container {
    max-width: 850px;
  }
}
@media (min-width: 1000px) {
  #projects-container {
    max-width: 980px;
  }
}
@media (min-width: 1200px) {
  #projects-container {
    max-width: 1050px;
  }
}
@media (min-width: 1400px) {
  #projects-container {
    max-width: 1050px;
  }
}/*# sourceMappingURL=style.css.map */